*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28vh;
    background-image: url("amazing.jpg"); 
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    /* background:rgb(23, 149, 84); */
    background-image: url("amazing.jpg"); 
    border-radius: 8px;
}

.box form{
    position: absolute;
    inset: 4px;
    background:transparent;
    padding: 50px 40px ;
    z-index: 2;
     flex-direction: column;
}
.box form h2{
    color:#ffffff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputbox{
position: relative;
width: 300px;
margin-top: 35px;

}
.box form .inputbox input{
    position: relative;
    /* width: 100px; */
    height: 100%;
    padding: 20px 10px 10px;
    background:transparent;
    border: none;
    outline: none;
    box-shadow:none ;
    color:f;
    transition: 0.5s; 
    z-index: 10;

}
.box form .inputbox span{
    position: absolute;
    left: 0;
    padding: 20x 0px 10px ;
    pointer-events: none;
    color:white;
    font-size: 1em;
    letter-spacing:0.05em ;
      transition:0.5s;  
}

 .box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span
{
    color:white;
    font-size:1rem;
    transform:translateY(-32px); 

}
.box form .inputbox i{ 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:#fff;
    border-radius:4px ;
    overflow: hidden
    
    
}
.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i
{
    height: 44px;

}
.box form .LINKS{
    
    display: flex;
    justify-content: space-between;
    


} 
.box form .LINKS a{
    margin: 10px 0;
    font-size: 0.75rem;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .LINKS a:hover,
.box form .LINKS a:nth-child(2)
{
    color:white;

}
.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: white;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

